<ul class="bread-crumbs">
	{% if pageType !== "search" %}
	<li class="back-to-search">
		<a href="/search">
			<span>Nazad na pretragu</span>
		</a>
	</li>
	{% endif %}

	<li>
		<a href="/home">Početna</a>
	</li>

	<li>
		<a href="/search">Muške</a>
	</li>

	<li>
		<span>CATERPILLAR CIPELE Colorado Men</span>
	</li>
</ul>
