<footer class="footer">
	<div class="info logo">
		<div>
			<a href="/" rel="home">
				<img src="/img/logo.png" alt="Sprotizmo">
			</a>
		</div>
	</div>

	<nav class="info" aria-label="customer service">
		<ul>
			<li class="first">
				<h3>
					<a href="/help">Pomoć pri kupovini</a>
				</h3>
			</li>

			<li>
				<h4>
					<a href="/ordering">Kako kupiti</a>
				</h4>
			</li>

			<li>
				<h4>
					<a href="/payment-options">Načini plaćanja</a>
				</h4>
			</li>

			<li>
				<h4>
					<a href="/delivery">Isporuka</a>
				</h4>
			</li>

			<li>
				<h4>
					<a href="/returns-refunds">Povrat paketa i povrat novca</a>
				</h4>
			</li>

			<li>
				<h4>
					<a href="/claims">Reklamacije</a>
				</h4>
			</li>

			<li>
				<h4>
					<a href="/faq">Česta pitanja</a>
				</h4>
			</li>

			<li>
				<h4>
					<a href="/about">O nama</a>
				</h4>
			</li>

			<li>
				<h4>
					<a href="/contact">Kontakt</a>
				</h4>
			</li>
		</ul>
	</nav>

	<div class="info lang">
		<ul>
			<li>Sportizmo.com is available on:</li>

			<li>
				<a class="current" href="/">English</a>
			</li>

			<li>
				<a href="/sr/">Ex Yu</a>
			</li>

			<li>
				<a href="/ru/">Русский</a>
			</li>

			<li>
				<a href="/de/">Deutsch</a>
			</li>
		</ul>
	</div>

	<div class="partners">
		<div class="payment">
			<a href="/payment-options">Načini plaćanja</a>
			<div>
				<img src="/img/paypal.png" alt="Paypal način plaćanja">
				<img src="/img/kombank.png" alt="Komercijalna banka">
			</div>
		</div>

		<div class="delivery">
			<div class="text">
				<a href="/delivery">Isporuka</a>
				<img src="/img/postoffice.png" alt="Isporuka postom">
				<img src="/img/dhl.png" alt="Dhl isporuka">
			</div>
		</div>
	</div>

	<div class="legal" role="contentinfo">
		<a href="/terms-conditions">USLOVI KORIŠĆENJA I KUPOVINE</a>
		<a href="/privacy-information">Politika privatnosti</a>
		<a href="/cookie-management">Upotreba kolačića</a>
	</div>
</footer>

