<header class="header">
	<div class="notice">Isporuku vršimo na teritoriji cele Srbije uključujući i Kosovo i Metohiju</div>
	
	<div class="header-content">
		<div class="logo">
			<a rel="home" href="/">
				<img src="/img/logo-03.png" alt="Sportizmo">
			</a>
		</div>

		<ul class="user">
			<li>
				<a href="/help" class="ico-question-01">
					<span>Pomoć</span>
				</a>
			</li>

			<li>
				<a href="/favourite" class="ico-star-01 added">
					<span>Omiljeno<sup>1</sup></span>
				</a>
			</li>

			<li>
				<a href="/cart" class="ico-busket-04 added">
					<span>Korpa<sup>1</sup></span>
				</a>
			</li>
		</ul>
	</div>

	{% include "shared/navigation.njk" %}
</header>
