<div class="nav-wrapper">

	<div class="centred-content">
		<input type="checkbox" class="hidden-nav-checkbox hidden" id="nav-hamburger">
		<label class="nav-close-open" for="nav-hamburger"></label>
		<div class="overlay"></div>

		<nav class="nav" aria-label="main navigation">
			<div class="sticky-header-nav">Navigacija</div>
			<ul class="nav-list">
				 <li>
            		<a class="home icon-home" rel="home" href="/home" title="Naslovna strana"></a>
        		</li>

				<li class="dropdown">
					<h3 class="li-heading">
						<a href="/search?type=muske" title="Muške">Muške
							<em>[vidi sve]</em>
						</a>
					</h3>

					<ul class="dropdown-content">
						<li class="nav-list-column fixed-width">
							<h4 class="li-subhead">Obuća</h4>
							<ul class="column-li">
								<li><a href="/search" title="">Patike<span>(614)</span></a></li>
								<li><a href="/search" title="">Cipele<span>(501)</span></a></li>
								<li><a href="/search" title="">Papuce<span>(429)</span></a></li>
								<li><a href="/search" title="">Klompe<span>(413)</span></a></li>
								<li><a href="/search" title="">Čizme<span>(358)</span></a></li>
								<li><a href="/search" title="">Kopačke<span>(329)</span></a></li>
							</ul>
						</li>

						<li class="nav-list-column fixed-width">
							<h4 class="li-subhead">Odeća</h4>
							<ul class="column-li">
								<li><a href="/search" title="">Majice<span>(614)</span></a></li>
								<li><a href="/search" title="">Duksevi<span>(541)</span></a></li>
								<li><a href="/search" title="">Šortsevi<span>(512)</span></a></li>
								<li><a href="/search" title="">Jakne<span>(452)</span></a></li>
								<li><a href="/search" title="">Džemperi<span>(341)</span></a></li>
								<li><a href="/search" title="">Košulje<span>(289)</span></a></li>
								<li><a href="/search" title="">Prsluci<span>(127)</span></a></li>
							</ul>
						</li>

						<li class="nav-list-column fixed-width">
							<h4 class="li-subhead">Brendovi</h4>
							<ul class="column-li">
								<li><a href="/search" title="">Nike<span>(614)</span></a></li>
								<li><a href="/search" title="">Adidas<span>(451)</span></a></li>
								<li><a href="/search" title="">Reebok<span>(239)</span></a></li>
								<li><a href="/search" title="">Salamon<span>(120)</span></a></li>
								<li><a href="/search" title="">Grubin<span>(93)</span></a></li>
								<li><a href="/search" title="">Asics<span>(25)</span></a></li>
								<li><a href="/search" title="">Wilson<span>(23)</span></a></li>
								<li><a href="/search" title="">Hummel<span>(15)</span></a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="dropdown">
					<h3 class="li-heading">
						<a href="/search?type=zenske" title="Ženske">Ženske</a>
					</h3>

					<ul class="dropdown-content">
						<li class="nav-list-column fixed-width">
							<h4 class="li-subhead">Obuća</h4>
							<ul class="column-li">
								<li><a href="/search" title="">Patike<span>(614)</span></a></li>
								<li><a href="/search" title="">Cipele<span>(614)</span></a></li>
								<li><a href="/search" title="">Papuce<span>(614)</span></a></li>
								<li><a href="/search" title="">Klompe<span>(614)</span></a></li>
								<li><a href="/search" title="">Čizme<span>(614)</span></a></li>
								<li><a href="/search" title="">Kopačke<span>(614)</span></a></li>
							</ul>
						</li>

						<li class="nav-list-column fixed-width">
							<h4 class="li-subhead">Odeća</h4>
							<ul class="column-li">
								<li><a href="/search" title="">Majice<span>(614)</span></a></li>
								<li><a href="/search" title="">Duksevi<span>(614)</span></a></li>
								<li><a href="/search" title="">Šortsevi<span>(614)</span></a></li>
								<li><a href="/search" title="">Jakne<span>(614)</span></a></li>
								<li><a href="/search" title="">Džemperi<span>(614)</span></a></li>
								<li><a href="/search" title="">Košulje<span>(614)</span></a></li>
								<li><a href="/search" title="">Helanke<span>(614)</span></a></li>
								<li><a href="/search" title="">Prsluci<span>(614)</span></a></li>
							</ul>
						</li>

						<li class="nav-list-column fixed-width">
							<h4 class="li-subhead">Brendovi</h4>
							<ul class="column-li">
								<li><a href="/search" title="">Patike<span>(614)</span></a></li>
								<li><a href="/search" title="">Koferi<span>(614)</span></a></li>
								<li><a href="/search" title="">Cipele<span>(614)</span></a></li>
								<li><a href="/search" title="">Klompe<span>(614)</span></a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="dropdown">
					<h3 class="li-heading">
						<a href="/search?type=decije" title="Dečije">Dečije</a>
					</h3>

					<ul class="dropdown-content">
						<li class="nav-list-column fixed-width">
							<h4 class="li-subhead">Obuća</h4>
							<ul class="column-li">
								<li><a href="/search" title="">Patike<span>(614)</span></a></li>
								<li><a href="/search" title="">Cipele<span>(614)</span></a></li>
								<li><a href="/search" title="">Papuce<span>(614)</span></a></li>
								<li><a href="/search" title="">Klompe<span>(614)</span></a></li>
								<li><a href="/search" title="">Čizme<span>(614)</span></a></li>
								<li><a href="/search" title="">Kopačke<span>(614)</span></a></li>
							</ul>
						</li>

						<li class="nav-list-column fixed-width">
							<h4 class="li-subhead">Odeća</h4>
							<ul class="column-li">
								<li><a href="/search" title="">Majice<span>(614)</span></a></li>
								<li><a href="/search" title="">Duksevi<span>(614)</span></a></li>
								<li><a href="/search" title="">Šortsevi<span>(614)</span></a></li>
								<li><a href="/search" title="">Jakne<span>(614)</span></a></li>
								<li><a href="/search" title="">Džemperi<span>(614)</span></a></li>
								<li><a href="/search" title="">Košulje<span>(614)</span></a></li>
								<li><a href="/search" title="">Helanke<span>(614)</span></a></li>
								<li><a href="/search" title="">Prsluci<span>(614)</span></a></li>
							</ul>
						</li>

						<li class="nav-list-column fixed-width">
							<h4 class="li-subhead">Brendovi</h4>
							<ul class="column-li">
								<li><a href="/search" title="">Patike<span>(614)</span></a></li>
								<li><a href="/search" title="">Koferi<span>(614)</span></a></li>
								<li><a href="/search" title="">Cipele<span>(614)</span></a></li>
								<li><a href="/search" title="">Klompe<span>(614)</span></a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="dropdown">
					<h3 class="li-heading">
						<a href="/search?discount" title="Sniženje">Sniženje</a>
					</h3>
				</li>

				<li class="dropdown">
					<h3 class="li-heading">
						<a href="/ordering" title="Kako Kupiti">Kako Kupiti</a>
					</h3>
				</li>
			</ul>
		</nav>

		<form class="search-form" role="search">
			<input type="text" class="search-input" name="pretraga" id="search" aria-label="Search through site content" placeholder="Pretraga..." autocomplete="off" maxlength="30" pattern="[A-Za-z]+">
			<input type="image" class="search-input-img" src="img/search.png" alt="Search magnifier"/>
		</form>
	</div>
</div>

