<ul class="path stepsCount_3">
	<li class="done">
		<span class="step">
			<em>1</em>
			<strong>KORPA</strong>
		</span>
	</li>

	<li class="current">
		<span class="step">
			<em>2</em>
			<strong>NARUČI</strong>
		</span>
	</li>

	<li class="todo">
		<span class="step">
			<em>3</em>
			<strong>PLAĆANJE</strong>
		</span>
	</li>
</ul>