{% extends "base.njk" %} {% block content %}

{% include "shared/header.njk" %}

{% include "shared/breadcrumb.njk" %}

<div class="container">
	<div class="product">
		<div class="gallery-wrapper" data-pswp-uid="1">
			<div class="gallery" tabindex="-1">
				<a class="main" tabindex="-1" href="https://www.sportizmo.rs/slike/47311/adidas-muske-patike-gazelle-carbon-men-1-1000x1000.jpg" data-size="1000x1000" data-med="https://www.sportizmo.rs/slike/47311/adidas-muske-patike-gazelle-carbon-men-1-1000x1000.jpg" data-med-size="1000x1000" data-author="Sportizmo">
					<img srcset="
						/img/article/adidas-muske-patike-gazelle-carbon-men_200.jpg 200w,
						/img/article/adidas-muske-patike-gazelle-carbon-men_428.jpg 428w,
						/img/article/adidas-muske-patike-gazelle-carbon-men_593.jpg 593w
						/img/article/adidas-muske-patike-gazelle-carbon-men_737.jpg 737w,
						/img/article/adidas-muske-patike-gazelle-carbon-men_853.jpg 853w,
						/img/article/adidas-muske-patike-gazelle-carbon-men_1000.jpg 1000w"
					src="/img/article/adidas-muske-patike-gazelle-carbon-men_853.jpg"
					sizes="100vw"
					alt="Adidas patike"/>
				</a>

				<a class="thumb" tabindex="-1" href="https://www.sportizmo.rs/slike/47311/adidas-muske-patike-gazelle-carbon-men-1-1000x1000.jpg" data-size="1000x1000" data-med="https://www.sportizmo.rs/slike/47311/adidas-muske-patike-gazelle-carbon-men-1-1000x1000.jpg" data-med-size="1000x1000" data-author="Sportizmo">
					<img src="img/article/adidas-muske-patike-gazelle-carbon-men_200.jpg" alt="Adidas patike">
				</a>

				<a class="thumb" tabindex="-1" href="https://www.sportizmo.rs/slike/47311/adidas-muske-patike-gazelle-carbon-men-1-1000x1000.jpg" data-size="1000x1000" data-med="https://www.sportizmo.rs/slike/47311/adidas-muske-patike-gazelle-carbon-men-1-1000x1000.jpg" data-med-size="1000x1000" data-author="Sportizmo">
					<img src="img/article/adidas-muske-patike-gazelle-carbon-men_200.jpg" alt="Adidas patike">
				</a>

				<a class="thumb" tabindex="-1" href="https://www.sportizmo.rs/slike/47311/adidas-muske-patike-gazelle-carbon-men-1-1000x1000.jpg" data-size="1000x1000" data-med="https://www.sportizmo.rs/slike/47311/adidas-muske-patike-gazelle-carbon-men-1-1000x1000.jpg" data-med-size="1000x1000" data-author="Sportizmo">
					<img src="img/article/adidas-muske-patike-gazelle-carbon-men_200.jpg" alt="Adidas patike">
				</a>

				<a class="thumb" tabindex="-1" href="https://www.sportizmo.rs/slike/47311/adidas-muske-patike-gazelle-carbon-men-1-1000x1000.jpg" data-size="1000x1000" data-med="https://www.sportizmo.rs/slike/47311/adidas-muske-patike-gazelle-carbon-men-1-1000x1000.jpg" data-med-size="1000x1000" data-author="Sportizmo">
					<img src="img/article/adidas-muske-patike-gazelle-carbon-men_200.jpg" alt="Adidas patike">
				</a>
			</div>

			<span class="ico-zoom-01 to-zoom">&nbsp;Klikni na sliku za uvećanje.</span>
		</div>

		<div class="detail-info">
			<section class="info-container">
				<h1>Addidas patike<span>Gazelle Carbon Men</span></h1>
				<strong class="price">2116 RSD</strong>

				<form class="add-to-cart" action="" method="">
					<div>
						<label for="size">Odaberite veličinu</label>
						<select class="cart-select focus-outline-hidden" name="size" id="size">
							<option value="0" disabled="false" selected="selected" hidden>Odaberite veličinu</option>
							<option value="S">S</option>
							<option value="M">M</option>
							<option value="L">L</option>
							<option value="XL">XL</option>
						</select>
					</div>

					<input type="submit" class="add" value="Dodaj u korpu"/>
				</form>

				<div class="add-to-fav">
					<a href="" class="ico-star-01 ">
						<span>Dodaj u omiljeno</span>
					</a>
				</div>

				<ul class="why-to-buy">
					<li class="ico-handle-01">
						<span>100% sigurno plaćanje</span>
					</li>

					<li class="ico-handle-01">
						<span>Brza i jednostavna kupovina</span>
					</li>

					<li class="ico-handle-01">
						<span>Bez registracije</span>
					</li>
				</ul>
			</section>
		</div>

		<section class="desc">
			<div class="desc-info-wrapp">
				<h3 class="title">Pol</h3>
				<span class="value">Muške</span>
			</div>

			<div class="desc-info-wrapp">
				<h3 class="title">Vrsta</h3>
				<span class="value">Patike</span>
			</div>

			<div class="desc-info-wrapp">
				<h3 class="title">Veličina</h3>
				<ul class="value">
					<li>40</li>
					<li>41</li>
					<li>42</li>
					<li>43</li>
				</ul>
			</div>

			<div class="desc-info-wrapp">
				<h3 class="title">Boja</h3>
				<span class="value">Sive</span>
			</div>

			<div class="desc-info-wrapp">
				<h3 class="title">Brend</h3>
				<span class="value">Addidas</span>
			</div>

			<div class="desc-info-wrapp">
				<h3 class="title">Materijal</h3>
				<span class="value">Antilop i tekstil</span>
			</div>
		</section>

		<div class="delivery">
			<div class="block">
				Isporuka iz <strong>Srbije</strong><div>to <strong>Србија</strong> putem PE Pošta Srbije</div><div>Procenjeno vreme: <strong>9 - 11</strong> dana</div>
			</div>
		</div>
	</div>

	<div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="pswp__bg"></div>

		<div class="pswp__scroll-wrap">
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<div class="pswp__counter"></div>

					<button class="pswp__button pswp__button--close" title="Close (Esc)">
						<span>Close</span>
					</button>

					<button class="pswp__button pswp__button--share" title="Share">
						<span>Share</span>
					</button>

					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen">
						<span>Toggle fullscreen</span>
					</button>

					<button class="pswp__button pswp__button--zoom" title="Zoom in/out">
						<span>Zoom</span>
					</button>

					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>

				<button class="pswp__button pswp__button--arrow--left" aria-label="Previous" title="Previous (arrow left)">
					<span>Previous</span>
				</button>

				<button class="pswp__button pswp__button--arrow--right" aria-label="Next" title="Next (arrow right)">
					<span>Next</span>
				</button>

				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>
</div>
		{% include "shared/visited.njk" %}

{% include "shared/detailScripts.njk" %}

{% endblock %}
