{% extends "base.njk" %} {% block content %}

{% include "shared/header.njk" %}

{% include "shared/breadcrumb.njk" %}

<section class="container" role="main">
	<h1 class="center">Pomoć pri kupovini</h1>

	<ul class="help">
		<li>
			<h2>
				<a class="current" href="/ordering">Kako kupiti</a>
			</h2>
		</li>

		<li>
			</h2>
				<a href="/payment-options">Načini plaćanja</a>
			</h2>
		</li>

		<li>
			<h2>
				<a href="/delivery">Isporuka</a>
			</h2>
		</li>

		<li>
			<h2>
				<a href="/returns-refunds">Povrat paketa i povrat novca</a>
			</h2>
		</li>

		<li>
			<h2>
				<a href="/claims">Reklamacije</a>
			</h2>
		</li>

		<li>
			<h2>
				<a href="/faq">Česta pitanja</a>
			</h2>
		</li>

		<li>
			<h2>
				<a href="/about">O nama</a>
			</h2>
		</li>

		<li>
			<h2>
				<a href="/contact">Kontakt</a>
			</h2>
		</li>

		<li>
			<h2>
				<a href="/terms-conditions">Uslovi korišćenja i kupovine</a>
			</h2>
		</li>

		<li>
			<h2>
				<a href="/privacy-information">Politika privatnosti</a>
			</h2>
		</li>

		<li>
			<h2>
				<a href="/cookie-management">Upotreba kolačića</a>
			</h2>
		</li>
	</ul>
</section>

{% endblock %}