<div class="pages-text">
	<h1 class="center">O nama</h1>
	
	<p>
		<strong>Sportizmo.com</strong> Sportizmo.com vam nudi najkvalitetniju odeću i obuću koja se proizvodi u Srbiji.
	</p>

	<div class="info-wrapp" itemscope itemtype="http://schema.org/LocalBusiness">
		<p itemprop="name">
			<strong>Naziv firme:</strong> SPORTIZMO DOO SALAŠ NOĆAJSKI
		</p>
		
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<p itemprop="streetAddress">
				<strong>Ulica:</strong> STOJANA ČUPIĆA 86A
			</p>

			<p itemprop="addressLocality">
				<strong>Mesto:</strong> Salaš Noćajski
			</p>
			
			<p itemprop="addressRegion">
				<strong>Zemlja:</strong> REPUBLIC OF SERBIA 
			</p>
		</div>
		
		<p itemprop="telephone">
			<strong>Telefon:</strong> +381114117772 (Srpski)
		</p>
		
		<p>
			<strong>PIB:</strong> 108794007
		</p>
		
		<p>
			<strong>Matični broj:</strong> 21068756
		</p>
		
		<p>
			<strong>Šifra delatnosti:</strong> 4791
		</p> 
		
		<p>
			<strong>IBAN/ Account Number:</strong> RS35205007010045702209 BIC/ KOBBRSBG
		</p>
	</div>
</div>