<div class="pages-text">
	<h1 class="center">Reklamacije</h1>
	
	</p>U koliko se pojavi nedostatak na artiklu koji ste kupili možete izvršiti reklamaciju. Prevo na reklamaciju imate 6 meseci od trenutka kada ste primili artikal. Artikal nam možete poslati nazad i mi ćemo ga odneti na analizu u ovlašćenu laboratoriju. Odgovor na vašu reklamaciju će te dobiti za 8 dana od trenutka kada primimo vaš paket.
	</p>
</div>