<div class="pages-text">
	<h1 class="center">Upotreba kolačića</h1>
	
	<p>Sportizmo.com koristi "kolačiće" kako bi sajt pravilno radio i kako bi vam prikazivali sadržaj koji je prilagođen vašim potrebama. Tu se najviše misli na odabir zemlje i valute. "Kolačić" je tekstualni fajl koji je smešten na vašem računaru preko softvera koji koristite za pregledanje interneta.
	</p>
	
	<p>Spisak kolačića:</p>

	<ol>
		<li>
			<strong>Osnovni</strong> - bez njega sajt ne može pravilno da funkcioniše.
		</li>

		<li>
			<strong>Zemlja</strong> - služi kako bi naš softver zapamtio iz koje zemlje dolazite kako nebi stalno gubili vreme na podešavanja.
		</li>

		<li>
			<strong>Valuta</strong> - isto bitan kao i predhodni i daje nam informaciju o valuti u kojoj želite da vam budu prikazane cene.
		</li>

		<li>Google analitika - služi da nam da informaciju o načinu upotrebe sajta kako bi mogli da unapredimo korisničko iskustvo.
		</li>
	</ol>
</div>