<div class="pages-text">
	<h1 class="center">Isporuka</h1>
	
	<p>Trenutno isporuku naših artikala vrši kurirska služba Daily Express. U posebnim slučajevima možemo poslati artikal i drugim kurirskim službama. Troškovi isporuke za teritoriju Srbije su 200 dinara po cenovniku od 1.1.2017.
	</p>

</div>