<div class="pages-text">
	<h1 class="center">Delivery</h1>
	
	<p>Delivery is done via Post of Serbia in partnership with DHL. Currently shipment is available for more then 60 countries around globe. Best way to get info about delivery fee is to add product in cart. Countries list is provided at the end of this page. In rare cases shipping time can be prolong by some factors: delay in post office or customs, national and religious holidays, unforeseen circumstances... In some cases delivery country customs can include additional fee on delivery. You can contact us for any kind of help.
	</p>

	<p>
		<strong>NOTICE:</strong> on 'settings' page you can set country where you are located and want to accept products.
	</p>

	<ol>
		<li>AE - United Arab Emirates</li>
		<li>AL - Shqipëria</li>
		<li>AT - Österreich</li>
		<li>AU - Australia</li>
		<li>BA - Bosna i Hercegovina</li>
		<li>BE - België</li>
		<li>BG - България</li>
		<li>BR - Brasil</li>
		<li>BY - Беларусь</li>
		<li>CA - Canada</li>
		<li>CH - Schweiz</li>
		<li>CN - Zhōngguó</li>
		<li>CY - Κύπρος</li>
		<li>CZ - Česko</li>
		<li>DE - Deutschland</li>
		<li>DK - Danmark</li>
		<li>EE - Eesti</li>
		<li>EG - Misr</li>
		<li>ES - España</li>
		<li>FI - Suomi</li>
		<li>FR - France</li>
		<li>GB - United Kingdom</li>
		<li>GE - Sak'art'velo</li>
		<li>GH - Ghana</li>
		<li>GR - Hellas</li>
		<li>HK - Hong Kong</li>
		<li>HR - Hrvatska</li>
		<li>HU - Magyarország</li>
		<li>ID - Indonesia</li>
		<li>IE - Éire</li>
		<li>IL - Yisra'el</li>
		<li>IN - Bharôt</li>
		<li>IT - Italia</li>
		<li>JP - Nihon</li>
		<li>KR - Hanguk</li>
		<li>KZ - Qazaqstan</li>
		<li>LB - Lubnān</li>
		<li>LT - Lietuva</li>
		<li>LU - Lëtzebuerg</li>
		<li>LV - Latvija</li>
		<li>MA - Amerruk</li>
		<li>MD - Moldova</li>
		<li>ME - Crna Gora</li>
		<li>MK - Северна Македонија</li>
		<li>MT - Malta</li>
		<li>MX - México</li>
		<li>NL - Nederland</li>
		<li>NO - Norge</li>
		<li>NZ - New Zealand</li>
		<li>PL - Polska</li>
		<li>PT - Portugal</li>
		<li>QM - Република Српска</li>
		<li>RO - România</li>
		<li>RS - Србија</li>
		<li>RU - Россия</li>
		<li>SA - Al-Mamlaka</li>
		<li>SE - Sverige</li>
		<li>SG - Singapura</li>
		<li>SI - Slovenija</li>
		<li>SK - Slovensko</li>
		<li>TR - Türkiye</li>
		<li>UA - Україна</li>
		<li>US - USA</li>
		<li>ZA - South Africa</li>
	</ol>
</div>