<div class="pages-text">
	<h1 class="center">Česta pitanja</h1>
	
	<h2>Ko smo mi?</h2>
	<p>Mi smo internet prodavnica obuće i odeće proizvedene u Srbiji.</p>

	<h2>Gde se mi nalazimo i odakle se šalju narudžbine?</h2>
	<p>Mi se nalazimo u Srbiji odakle se i šalju porudžbine.</p>

	<h2>Koji su načini naručivanja?</h2>
	<p>Proizvode možete poručiti isključivo preko našeg sajta dodavanje artikala u korpu i on-line plaćanjem ili mejlom.</p>

	<h2>Kako mogu da izvršim plaćanje?</h2>
	<p>Postoji nekoliko načina plaćanja: viza, master, PejPal, direktna uplata na naš devizni račun u banci...</p>

	<h2>Kako mogu da odredim troškove poštarine?</h2>
	<p>Dodavanjem artikla u korpu će vam trošak biti obračunat. Troškovi zavise od mase paketa i zemlje u koju se isporučuje. </p>

	<h2>Za koliko mi paket stiže?</h2>
	<p>To zavisi od zemlje u koju se šalje. Neki prosek je oko 10-15 dana.</p>

	<h2>Na kojim jezicima možete da komunicirate sa nama?</h2>
	<p>Srpski i Engleski.</p>
</div>