<ul class="pages-menu">
	<li>
		<a class="current" href="/ordering">Kako kupiti</a>
	</li>

	<li>
		<a href="/payment-options">Načini plaćanja</a>
	</li>

	<li>
		<a href="/delivery">Isporuka</a>
	</li>

	<li>
		<a href="/returns-refunds">Povrat paketa i povrat novca</a>
	</li>

	<li>
		<a href="/claims">Reklamacije</a>
	</li>

	<li>
		<a href="/faq">Česta pitanja</a>
	</li>

	<li>
		<a href="/about">O nama</a>
	</li>

	<li>
		<a href="/contact">Kontakt</a>
	</li>

	<li><a href="/terms-conditions">Uslovi korišćenja i kupovine</a></li>

	<li><a href="/privacy-information">Politika privatnosti</a></li>

	<li>
		<a href="/cookie-management">Upotreba kolačića</a>
	</li>
</ul>