<div class="pages-text">
	<h1 class="center">Kako kupiti</h1>
	<p>Proces naručivanja na Sportizmo.com je veoma jednostavan i svodi se na tri laka koraka:</p>

	<ol>
		<li>Odaberite jedan ili više artikala koja želite da kupite i dodajte ih u korpu. U korpi će vam biti prikazane informacije o iznosu poštarine i ukupnoj ceni.
		</li>

		<li>U formi za naručivanje upišite svoje podatke za dostavu i odaberite način plaćanja. Za ovo nije potrebno da se predhodno ulogujete na sajt.
		</li>

		<li>Poslednji korak je da izvršite plaćanje prema opciji koju ste odabrali u predhodnom koraku.
		</li>
	</ol>

	<p>Napominjemo da prilikom naručivanja mi ne dolazimo u posed osetljivih informacija kao što su brojevi vaših kartica i sredstava za plaćanje. Te podatke ostavljate na stranici procesora plaćanja, kao što je banka npr. Jedine informacije koje mi čuvamo su podaci gde i kako da vam isporučimo pošiljku. Sve informacije o vašoj narudžbini možete uvek dobiti ako nas kontaktirate putem mejla.
	</p>
</div>