<div class="pages-text">
	<h1 class="center">Načini plaćanja</h1>
	<p>Za sada imamo tri načina plaćanja:</p>
	
	<ol>
		<li>[U PRIPREMI] Viza, Master i Maestro: ovo je jedan od najzastupljenijih načina plaćanja na Internetu ujedno i najbrži. Ako odaberete ovaj način plaćanja ukupan iznos prikazan u vašoj valuti će biti konvertovan u dinare jer se naša banka nalazi u Srbiji i prima samo domaću valutu. Prilikom konverzije koristimo srednji kurs Narodne banke Srbije.</li>

		<li>Pejpal: iznos za plaćanje će vam biti naplaćen u evrima ili dolarima. Pejpal važi za najbezbedniji i najpopularniji način plaćanja na Internetu. Postoji od 1998., ima 267 miliona otvorenih naloga širom sveta, funkcioniše u 202 države i 25 valuta.</li>

		<li>Bankovni transfer: ako niste pristalica plaćanja preko mreže ili ako nemate platnu karticu možete da odete do vaše banke i uplatite iznos na naš devizni EURO račun. Obično je potrebno par dana dok mi ne evidentiramo uplatu. Ponekad se može desiti da vam vaša banka naplati sitan iznos kao proviziju ali to nije često slučaj.</li>
	</ol>
</div>