<div class="pages-text">
	<h1 class="center">Politika privatnosti</h1>
	
	<p>Sportizmo.com ceni privatnost svojih kupaca tako što se brinemo o vašim ličnim podacima. Da bi efikasno procesuirali vašu narudžbinu potrebni su nam vaši lični podaci kao što su: ime i prezime, broj telefona, i-mejl, adresa, mesto i zemlja u koju želite da vam isporučimo pošiljku. Vaše kontakt podatke možemo koristiti i da bi vas obavestili o stanju vaše pošiljke. U skladu sa etičkim poslovanjem vaše podatke nećemo ustupati trećim licima. Svrha prikupljanja vaših ličnih podatka je pružanje kvalitetne usluge. Sportizmo.com može koristiti razne alate kako bi razumeo ponašanje posetilaca sajta i strane koje se najviše posećuju (Google Analytics npr.). Prilikom plaćanja ne čuvamo podatke o vašoj platnoj kartici.
	</p>

	<p>Korišćenjem naših usluga i posećivanjem našeg sajta iskazujete saglasnost sa navedenim uslovima. Sportizmo.com se takođe obavezuje da poštuje gore pometnute stavke.
	</p>
</div>