<div class="pages-text">
	<h1 class="center">Povrat paketa i povrat novca</h1>
	
	<p>Da bi ostvarili pravo na povrat paketa, zamenu ili povrat novca potrebno je da nam na mejl podnesete zahtev i to najkasnije 14 dana od trenutka kada ste primili paket. Novac ćemo vam uplatiti istom metodom kojom ste izvršili plaćanje nakon što primimo vaš paket nazad. Napominjemo da su troškovi povrata sami snosite. Vrlo je bitno da nam artikal vratite u stanje u kakvom ste ga i dobili tj. ne sme da ima nikakve tragove korišćenja. U koliko ste poručili i platili paket morate sačekati da vam stigne. Ako je paket već poslat mi ne možemo da otkažemo slanje. U slučaju povrata novca ne vraćamo vam iznos poštarine.
	</p>
</div>