<div class="pages-text">
	<h1 class="center">Uslovi korišćenja i kupovine</h1>
	
	<ol>
		<li>
			<strong>CENE</strong> - Cene su prikazane uz svaki pojedinačni artikal. Osnovna valuta koju koristimo je EURO. Kupac može sam da promeni valutu ukoliko želi da mu se cene prikažu obračunate u toj drugoj valuti. Sportizmo.com zadržava pravo na promenu cena bez predhodnog obaveštenja.
		</li>

		<li>
			<strong>ARTIKLI</strong> - Svi artikli koje imamo u ponudi su prikazani na sajtu. Sportizmo.com ulaže velike napore da slike koje smo napravili u našem foto studiju i opisi artikala budu verodostojni mada se ponekad može desiti da postoje mala neslaganja artikala na slici i realnog stanja.
		</li>

		<li>
			<strong>DOSTUPNOST</strong> - Sportizmo.com vrši velik napor u saradnji sa dobavljačima da sva roba prikazana na našem sajtu bude dostupna u svakom momentu. U koliko se desi da neki artikal više nije dostupan obavestićemo kupca u najkraćem vremenskom intervalu.
		</li>
		
		<li>
			<strong>NARUČIVANjE</strong> - Poručivanje se može obaviti putem sajta u bilo koje doba dana.
		</li>

		<li>
			<strong>POŠTARINA</strong> - Poštarina zavisi od zemlje isporuke i težine paketa. Poštarina se najlakše može obračunati dodavanjem artikla u korpu.
		</li>
		
		<li>
			<strong>PLAĆANjE I SIGURNOST</strong> - Plaćanje se vrši na sigurnim stranicama platnih procesora. Sportizmo.com ne dolazi u posed informacija o karticama za plaćanje. Plaćanje je 100% sigurno.
		</li>

		<li>
			<strong>ISPORUKA</strong> - Isporuka se vrši u 63 zemlje sveta putem Pošte Srbije. Vreme isporuke zavisi od raznih faktora kao što su udaljenost, zadržavanje u pošti, granici, nepredvidivih okolnosti...
		</li>

		<li>
			<strong>ODUSTAJANjE OD KUPOVINE</strong> - Kupac može da odustane od kupovine 14 dana od trenutka kada je primio paket. Za to je potrebno da nas obavesti putem mejla. Ako je pošiljka već poslata kupac mora da sačeka da mu stigne pošiljka i da je pošalje nazad.
		</li>
		
		<li>
			<strong>POVRAT PAKETA</strong> - Povrat paketa je moguć u koliko kupljeni artikal nije nošen i korišćen.
		</li>

		<li>
			<strong>POVRAT NOVCA</strong> - Novac ćemo vam vratiti istom metodom koji ste odabrali i koristili prilikom naručivanja i to nakon primanja paketa nazad.
		</li>
		
		<li>
			<strong>KOMUNIKACIJA</strong> - Svu komunikaciju sa nama možete izvršiti putem mejla. Mi vam možemo odgovoriti na srpskom i engleskom jeziku.
		</li>

		<li>
			<strong>IZMENE PODATAKA</strong> - SPORTIZMO zadržava pravo da usled raznih okolnosti izmeni cene artikala i troškove isporuke.
		</li>

		<li>
			<strong>INTELEKTUALNA SVOJINA</strong> - sve slike, tekstovi i drugi digitalni materijal korišćen na sajtu Sportizmo.com je u vlasništvu naše firme i zabranjeno je korišćenje tog materijala bez naše dozvole.
		</li>
	</ol>
</div>