.order {
    width: 100%;

    @include respond(desktop) {
        width: 50%;
    }
}

.order input,
.order textarea {
    display: block;
    width: 100%;
    padding: 2%;
    margin: em(6px) 0px 0px 0px;
    border: 1px solid #ccc;
    font-size: rem(14px);

    &:focus {
        border-color: #333;
    }
}

.input-wrapp {
    margin-bottom: em(20px);
}

.textarea-wrapp,
.select-wrapp {
    margin-bottom: em(35px);
}

.order-button-wrapp {
    position: relative;

    label {
        position: absolute;
        top: 0;
        display: none;
    }
}

input.error {
    border: 1px solid $red-color;
    background: #ffeae8;
}

span.error  {
    color: $red-color;
}

.select-wrapp {
    @include selectWrapper;
    border: 1px solid #ccc;
    margin-top: em(5px);

    select {
        @include selectReset;
        width: 100%;
        padding: 0 0 0 em(7px);
        text-transform: uppercase;
        font-size: em(14px);
        height: em(40px);
        cursor: pointer;
    }

    &:after {
            @include selectArrow;
        }

    label {
        margin-bottom: em(10px);
        display: inline-block;
    }
}

.order .make-order {
    background: #fdbd04;
    color: #000;
    width: 100%;
    border: none;
    font-size: rem(16px);
    font-weight: bold;
    letter-spacing: 1px;
    padding: em(13px) 0;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 0 0;
}



